@import '../../styles/_variables.scss';

.schedule {
	background-color: $spring-bud;

	h1 {
		color: white;
		text-shadow: -4px 4px 0 black;
		text-align: center;
		padding-top: 4rem;
	}

	h2 {
		font-size: 2rem;
		color: white;

		text-align: left;
		margin: 1rem auto;
		max-width: 960px;
	}

	ul {
		max-width: 960px;
		margin: 0 auto;
		list-style: none;
	}

	li {
		display: grid;
		grid-template-columns: 30% auto;
		grid-template-rows: 50% 50%;
		padding: 0.5em 0;
	}

	.time {
		font-weight: bold;
		font-size: 1.5rem;
		color: white;
	}

	.name {
		font-weight: bold;
		font-size: 1.5rem;
		color: white;
	}

	.day {
		padding: 1rem 0 2rem;
		background-color: $sunset;

		&:first-of-type {
			background-color: $sky;
		}

		&:last-child {
			background-color: $midnight-light;
		}
	}
}