@import "~styles/_variables.scss"; // Import variables to use colors

#settings {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 8px 12px 12px;
  border-radius: 3px;
  background-color: $midnight;
  font-size: 1rem;
  z-index: 100;

  transform: translate(-50%, -50%);
  text-align: left;

  overflow-y: scroll;

  p {
    font-size: 11px;
    margin-top: 6px;
    text-align: right;
    display: inline;
  }

  h2, h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
    font-weight: light;
  }

  .optional-hint {
    margin-top: -12px;
    margin-bottom: 12px;
    display: block;
    width: 100%;
    text-align: center;
  }

  .error-message {
    color: $sunset;
    text-align: left;
  }
}

.close-button {
  position: absolute;
  top: 2px;
  left: 5px;

  color: white;
  text-shadow: -1px 1px 0px $midnight-dark;

  cursor: pointer;

  &:hover {
    color: $white;
  }
}

.back-button {

  color: white;
  text-shadow: -1px 1px 0px $midnight-dark;

  cursor: pointer;

  &:hover {
    color: $white;
  }
}

.align-left {
  align-self: flex-start;

}

.align-right {
  align-self: flex-end;
}

input[type="text"], input[type="email"], input[type="password"], input[type="range"] {
  width: 100%;
  font-family: 'hydrophilia-iced', sans-serif;
}

input[type=text], input[type=email], input[type=password] {
  background: transparent;
  border: none;
  border-bottom: 1px solid $white;
  border-radius: 0;
  outline: 0;
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 6px;

  &::placeholder {
    color: $white;
    font-size: 1rem;
  }
}

input[type=range] {
  margin-bottom: 10px;
}

label {
  font-size: 0.75rem;
  color: $white;
  line-height: 0.75rem;
}

.carousel {
  display: flex;
  width: 80px;
//  height: 40px;
//    border: solid red 1px;
  background: transparent;
  margin: auto;
}

.carousel-item {
  width: 40px;
}

.item {
  border: solid black 1px;
  background-color: aliceblue;
  cursor: pointer;
}
.item:hover {
  border: solid gray 1px;
}

.login-link, .apply-link {
  cursor: pointer;
  color: white;

  text-shadow: -1px 1px 0px $midnight-dark;

  &:hover {
    color: $white;
  }
}

.apply-link {
  color: white;
  text-shadow: -1px 1px 0px $midnight-dark;

  background: $shamrock;
  border-radius: 0;

  border: 1px solid $shamrock-dark;

  padding: 2px 6px;

  &:hover {
     box-shadow: -1px 1px 0px $midnight-dark;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &.align-right {
    justify-content: flex-end;
  }
}

.icon-button {
  background: transparent;
  border: none;
  padding: 2px 2px;
  height: 40px;
  cursor: pointer;
  color: white;
  
  margin-top: -10px;

  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &:hover:not(.active) {
    color: $white;
    margin-top: -11px;
    border-bottom: 1px solid $white;
  }
}

.personSpace {
    font-size: 10px;
    color: white;
//    border: 1px solid red;
    width: 40px;
    height: 60px;
}

.navArrow {
    color: white;
    text-shadow: -1px 1px 0px $midnight-dark;
    padding-top: 25px;
  &:hover:not(.active) {
    color: $white;
    cursor: pointer;
  }
}

.colorSample {
    background-color: #76199A;
    width: 10px;
    height: 10px;
    border: solid black 1px;
    
    &:hover {
    cursor: pointer;
    }
}

.eyeSample {
    background-color: #1F7934;
    width: 10px;
    height: 10px;
    border: solid black 1px;
    
    &:hover {
    cursor: pointer;
    }
}