@import "~styles/_variables.scss"; // Import variables to use colors

#contact {
	background-color: $midnight-dark;

	h1 {
		color: $sunset;
		font-size: 2rem;
		text-align: left;
		margin-bottom: 0.25rem;
		padding-left: 0;
	}

	h2 {
		color: $spring-bud;
		font-size: 1rem;
		text-align: left;
		margin-bottom: 0.25rem;
		padding-left: 0;
	}

	p {
		font-size: 1rem;
		color: $white;
	}

	label {
		color: $sunset;
		font-size: 1rem;
	}

	input, textarea {
		font-size: 1.25rem;
		text-align: left;
		margin-bottom: 0.75rem;

		&::placeholder {
			opacity: 0.6;
			font-size: 1.25rem;
		}
	}

	button {
		background-color: $sunset;
		color: white;
		border-color: white;
		font-size: 2rem;
		width: 100%;
		max-width: 440px;
	}
}