<main>
    <div id="scaling-container" v-bind:style="scalingObject" ref="scalingContainer">
        <img src="~assets/images/mockups.png" class="test">
        <img src="~assets/images/combined_logo_4x_color_17.png" title="Kent Hack Enough Logo" class="combined-logo" style="height: 200px; width: 400px;">
        <div class="date-location-container" style="margin-top: 60px;">
            <router-link class="nav-item" to="/" exact>
        <a class="nav-link" style="font-size: 10px; text-decoration: underline;">Back</a>
               </router-link>
            <h2 class="date" style="margin-top: 0px;">Sponsor Info</h2>
            <div class="textBox" v-if="!paypal">
            Sponsoring KHE is a great way to find and connect with innovative, creative people, while also leaving a memorable impression on the tech community by giving back. 
                <br><br>
            Interested in sponsoring KHE 2017? Take a look at our <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/795933/SponsorshipPacket2017.pdf" target="_blank">sponsorship packet</a> and contact us (staff@khe.io), 
                <br><br>
            <span style="text-decoration: underline; cursor: pointer;" @click="paypal = true">Or click here to pay for sponsorship via paypal!
                </span>
            
            </div>
            
<!--            PAYPAL-->
             <div class="textBox" v-if="paypal">
                 <h4 style="color:white;">Thank you for supporting Kent Hack Enough!</h4>
                 <span style="text-decoration: underline; cursor: pointer;" @click="paypal = false"> Back to Sponsor Info</span>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="transform: scale(.5)">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="B237WFAJ3PS2Y">
                <table>
                    
                    <tr><td><input type="hidden" name="on0" value="Sponsorship Tiers">Sponsorship Tiers</td></tr><tr><td><select name="os0">
                       <option value="Coin">Coin $500.00 USD</option>
                       <option value="Gem">Gem $1,000.00 USD</option>
                       <option value="Loot">Loot $2,000.00 USD</option>
                       <option value="Chest">Chest $3,000.00 USD</option>
                       <option value="Prince">Prince $5,000.00 USD</option>
                    </select> </td></tr>
                </table>
                <input type="hidden" name="currency_code" value="USD">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                 </form>
            
            </div>
<!--            END PAYPAL-->
        </div>
        
        
    </div>

    <a id="mlh-trust-badge" style="max-width:80px;min-width:60px;position:fixed;right: 50px;top:0;width:10%;z-index:50" href="https://mlh.io/seasons/na-2018/events?utm_source=na-2018&utm_medium=TrustBadge&utm_campaign=na-2018&utm_content=white" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/white.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%"></a>
</main>