@import "~styles/_variables.scss"; // Import variables to use colors


.textBox {
    z-index: 100;
    
    position: static;
    font-size: 8px;
    background: $midnight;
    padding: 10px;
    border: $sunset 4px solid;
    text-align: left;
    margin-top: 10px;
    
    @media screen and (max-width: 620px) {
        max-width: 150px;
    }
}

a {
    color: white;
}

#spaceInvadersBackground {
    //clear: both;
    width: 113%;
    height: 100%;
    min-height: 264px;
    position: absolute;
    top: 100%;
    margin-top: -18px;
    margin-left: -33px;
    background-color: black;
    outline: 1px solid red;
}

#spaceInvadersIcons {
    position: center;
    width: 90%;
    height: auto;
    min-height: 170px;
    margin: 0 auto;
    padding: 3px;
    position: relative;
    outline: 1px solid blue;
}

#invader {
    height: 30px;
    width: 30px;
}

#remesh {
    height: 15px;
    width: 35px;
    //left: -6px;
}

#sponsor {
    height: 16px;
    width: 32px;
    //filter: url(#pixelate);

    //image-rendering: -webkit-optimize-contrast; 
    //image-rendering: -webkit-crisp-edges; 
    //image-rendering: -moz-crisp-edges; 
    //image-rendering: -o-crisp-edges; 
    //image-rendering: pixelated; 

    &:hover {

    }
}