#grid {
    z-index: -1000;
    position: absolute;
    -ms-interpolation-mode: nearest-neighbor; 
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -webkit-crisp-edges; 
    image-rendering: -moz-crisp-edges; 
    image-rendering: -o-crisp-edges; 
    image-rendering: pixelated; 
}

.gridSpace {
    z-index: 0;
    position: absolute;
    width: 20px;
    height: 20px;
}

.deco2x1 {
    position: absolute;
    width: 20px;
    height: 40px;
}

.outline {
    outline: 1px solid gray;
}

// GRASS THEME:

.topDirt { // 'f', assuming there no block on top of it
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/795933/kheSoilMid.png');
}

.grass1 { // decoration for 'f'
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/795933/kheSoilTop1.png');
}

.grass2 { // decoration for 'f'
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/795933/kheSoilTop2.png');
}

.bottomDirt { // 'f', assuming there's a block above it
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/795933/kheSoilBottoms.png');
}

// CASTLE THEME:

.castleBrick1 { // 'f'
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/795933/kheBrickv1.png');
    filter: brightness(.9);
}

.castleBrick2 { // 'g' or 'r' for random hue-rotation
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/795933/kheBrickv2%202.png');
}

.castleTile1 { // 'p'
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/795933/kheCastleTilev1.png');
}

.castleTile2 { // 'w'
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/795933/kheCastleTilev2.png');
}

.castleBgBrick1 { // 'e'
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/795933/kheBrickv1.png');
    filter: hue-rotate(200deg) brightness(.5);
}