.textBox404 {
    padding-top: 10px;
    font-size: 9px;
    text-align: center;
    color: white;
}
.text404 {
}

.actionMsg {
    position: absolute;
    bottom: 10px;
    left: 50px;
    font-size: 9px;
    text-align: center;
    color: white;
}