@font-face {
    font-family: hydrophilia-iced;
    src: url(~assets/fonts/Hydrophilia_Iced.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  margin: 0 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $black;
}

body {
  font-family: "hydrophilia-iced", sans-serif;
}

img {
	image-rendering: pixelated;
}

#app, #main-container {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

#main-container {
  transform-origin: 50% 200%;
}

#nav-container {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: auto;

  background-color: $midnight;
  border-top: 2px solid $white;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
  padding-bottom: 10px;

  overflow-x: hidden;
  .nav-item {
    height: auto;
    font-size: 33pt;
    line-height: 1.2;
    color: $white;
    text-decoration: none;

    padding: 20px 20px 0;
    margin: 0 5px 15px;

    &.active {
      color: $spring-bud;
      border-bottom: 3px solid $spring-bud;
    }

    &:hover:not(.active) {
      border-bottom: 3px solid $white;
    }
  }
    
}

.menu {
  display: none; // REMOVE
  position: absolute;
  width: 100%;
  text-align: center;
  top: 2vw;
  z-index: 999999999;
  padding: 0 10px;
  font-size: 2rem;
}

h1 {
  color: $spring-bud;
  opacity: 1;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 5em;
  padding: 0 10px;
}

h2 {
  color: $white;
  font-size: 11pt;
}

h3 {
	display: inline-block;
	width: auto;
	color: $water;
	opacity: 1;
	margin-top: 0.5rem;
	line-height: 1.25;
}

a {
	width: auto;
	height: auto;
}

h3:hover {
  color: $sky;
}

.content {
  display: none;
  position: absolute;
  z-index: 0;
  padding: 0;
  width: 100vw;
  height: 100%;

  background: linear-gradient(#0d004c, #210d7f);

  font-family: "hydrophilia-iced",sans-serif;

}

.input-field {
	display: block;
	width: auto;
	background-color: transparent;
	border: none;
	font-family: "hydrophilia-iced",sans-serif;
	//border-bottom: 2px solid $sky;
	margin: 0 auto;
	font-size: 2rem;
	line-height: 1.5rem;
	color: $sky;
	cursor: pointer;
	text-align: center;
	outline: none;
}

.input-field::-webkit-input-placeholder {
    color: $water;
}
.input-field:hover::-webkit-input-placeholder {
    color: $sky;
}
