/* Colors */
$black: rgba(17, 17, 17, 1);
$midnight-dark: rgba(39, 33, 60, 1);
$midnight: rgba(87, 70, 123, 1);
$midnight-light: rgba(109, 88, 155, 1);
$sunset-dark: rgba(229, 94, 94, 1);
$sunset: rgba(234, 129, 107, 1);
$sunset-light: rgba(230, 158, 106, 1);
$spring-bud: rgba(213, 230, 128, 1);
$shamrock: rgba(99, 163, 108, 1);
$shamrock-dark: rgba(68, 99, 80, 1);
$water: rgba(83, 154, 181, 1);
$sky: rgba(138, 207, 227, 1);
$white: rgba(238, 238, 238, 1);

