<main>
	<div id="scaling-container" v-bind:style="scalingObject" ref="scalingContainer">
		<grid style="position: absolute;"></grid>

		<person ref="you" paused="paused"></person>
		<ogre ref="appOgre" v-if="monster == 'ogre'"></ogre>
		<ent ref="appEnt" v-if="monster == 'ent'"></ent>
	</div>

	<div class="application-form">
		<h1>Time to begin your quest, {{ $root.$data.user.application.name.split(' ')[0] }}!</h1>
		<div class="application-field">

		</div>
		<div class="application-field">
			
		</div>
	</div>
</main>