<main>
	<div id="scaling-container" v-bind:style="scalingObject" ref="scalingContainer">
		<grid style="position: absolute;"></grid>

		<person ref="you" paused="paused"></person>
		<ogre ref="appOgre" v-if="monster == 'ogre'"></ogre>
		<ent ref="appEnt" v-if="monster == 'ent'"></ent>
	</div>

	<div class="application-form">
		<!-- Intro -->
		<transition name="floatIn">
			<div class="application-field" v-if="currentFieldIndex === 0">
				<h1>Time to begin your quest, {{ $root.$data.user.application.name.split(' ')[0] }}!</h1>
			</div>
		</transition>

		<!-- School -->
		<transition name="floatIn">
			<div class="application-field" v-if="currentFieldIndex === 1">
				<h1 @click="currentFieldIndex = 14">What school do you go to?</h1>
				<input v-focus type="text" v-model="$root.$data.user.application.school" list="school-list" v-on:input="sourceChanged" v-on:keydown="handleKeypress"
				name="school-selection" id="school-selection"
				placeholder="Enter your school..."/>
				<datalist id="school-list">
					<option v-for="school in schools" v-bind:value="school"  v-bind:label="school"></option>
				</datalist>

				<div class="button-container">
					<transition name="fade">
						<button v-show="$root.$data.user.application.school !== ''" @click="goToNextField">Next</button>
					</transition>
				</div>
			</div>
		</transition>

		<!-- Year -->
		<transition name="floatIn">
			<div class="application-field" v-if="currentFieldIndex === 2">
				<h1>What's your class standing?</h1>
				<div class="button-group">
					<button
					@click="$root.$data.user.application.year = 'High Schooler'" 
					@focus="$root.$data.user.application.year = 'High Schooler'" 
					@keydown.enter="$root.$data.user.application.year = 'High Schooler'; goToNextField();">
					High Schooler</button>

					<button
					@click="$root.$data.user.application.year = 'Freshman' "
					@focus="$root.$data.user.application.year = 'Freshman' "
					@keydown.enter="$root.$data.user.application.year = 'Freshman'; goToNextField();">
					Freshman</button>

					<button
					@click="$root.$data.user.application.year = 'Sophomore' "
					@focus="$root.$data.user.application.year = 'Sophomore' "
					@keydown.enter="$root.$data.user.application.year = 'Sophomore'; goToNextField();">
					Sophomore</button>

					<button
					@click="$root.$data.user.application.year = 'Junior' "
					@focus="$root.$data.user.application.year = 'Junior' "
					@keydown.enter="$root.$data.user.application.year = 'Junior'; goToNextField();">
					Junior</button>

					<button
					@click="$root.$data.user.application.year = 'Senior' "
					@focus="$root.$data.user.application.year = 'Senior' "
					@keydown.enter="$root.$data.user.application.year = 'Senior'; goToNextField();">
					Senior</button>

					<button
					@click="$root.$data.user.application.year = 'Graduate Student' "
					@focus="$root.$data.user.application.year = 'Graduate Student' "
					@keydown.enter="$root.$data.user.application.year = 'Graduate Student'; goToNextField();">
					Graduate Student</button>

					<button
					@click="$root.$data.user.application.year = 'Other' "
					@focus="$root.$data.user.application.year = 'Other' "
					@keydown.enter="$root.$data.user.application.year = 'Other'; goToNextField();">
					Other</button>
				</div>

				<div class="button-container">
					<p class="login-link" @click="currentFieldIndex -= 1; ">Back</p>
					<transition name="fade">
						<button v-show="$root.$data.user.application.year !== ''" @click="goToNextField">Next</button>
					</transition>
				</div>
			</div>
		</transition>

		<!-- Major -->
		<transition name="floatIn">
			<div class="application-field" v-if="currentFieldIndex === 3">
				<h1>What's your major/field of study?</h1>
				<input v-focus type="text" v-model="$root.$data.user.application.major" v-on:keydown="handleKeypress" id="major-selection"
				placeholder="Enter your major..."/>

				<div class="button-container">
					<p class="login-link" @click="currentFieldIndex -= 1; ">Back</p>
					<transition name="fade">
						<button v-show="$root.$data.user.application.major !== ''" @click="goToNextField">Next</button>
					</transition>
				</div>
			</div>
		</transition>

		<!-- Age -->
		<transition name="floatIn">
			<div class="application-field" v-if="currentFieldIndex === 4">
				<h1>How young are you?</h1>
				<input v-focus type="number" min="1" max="110" v-model="$root.$data.user.application.age" v-on:keydown="handleKeypress" id="age-selection"
				placeholder="Age..."/>

				<div class="button-container">
					<p class="login-link" @click="currentFieldIndex -= 1; ">Back</p>
					<transition name="fade">
						<button v-show="$root.$data.user.application.age !== ''" @click="goToNextField">Next</button>
					</transition>
				</div>
			</div>
		</transition>

		<!-- Gender -->
		<transition name="floatIn">
			<div class="application-field" v-if="currentFieldIndex === 5">
				<h1>What's your gender? (Optional)</h1>
				<div class="button-group">
					<button
					@click="$root.$data.user.application.gender = 'Male'" 
					@focus="$root.$data.user.application.gender = 'Male'" 
					@keydown.enter="$root.$data.user.application.gender = 'Male'; goToNextField();">
					Male</button>

					<button
					@click="$root.$data.user.application.gender = 'Female' "
					@focus="$root.$data.user.application.gender = 'Female' "
					@keydown.enter="$root.$data.user.application.gender = 'Female'; goToNextField();">
					Female</button>

					<button
					@click="$root.$data.user.application.gender = 'Other' "
					@focus="$root.$data.user.application.gender = 'Other' "
					@keydown.enter="$root.$data.user.application.gender = 'Other'; goToNextField();">
					Other</button>
				</div>

				<div class="button-container">
					<p class="login-link" @click="currentFieldIndex -= 1; ">Back</p>
					<transition name="fade">
						<p v-if="$root.$data.user.application.gender === ''" class="login-link" @click="$root.$data.user.application.gender = 'Prefer Not To Say'; goToNextField();">Skip</p>
						<button v-else @click="goToNextField">Next</button>
					</transition>
				</div>
			</div>
		</transition>

		<!-- Phone -->
		<transition name="floatIn">
			<div class="application-field" v-if="currentFieldIndex === 6">
				<h1>What's your phone number?</h1>
				<input v-focus type="tel" v-model="$root.$data.user.application.phone" v-on:keydown="handleKeypress" id="phone-selection"
				placeholder="111-222-3333"/>

				<div class="button-container">
					<p class="login-link" @click="currentFieldIndex -= 1; ">Back</p>
					<transition name="fade">
						<button v-show="$root.$data.user.application.phone !== ''" @click="goToNextField">Next</button>
					</transition>
				</div>
			</div>
		</transition>

		<!-- Shirt Size -->
		<transition name="floatIn">
			<div class="application-field" v-if="currentFieldIndex === 7">
				<h1>What size shirt would you like?</h1>
				<div class="button-group">
					<button
					@click="$root.$data.user.application.shirt = 'small'" 
					@focus="$root.$data.user.application.shirt = 'small'" 
					@keydown.enter="$root.$data.user.application.shirt = 'small'; goToNextField();">
					Small</button>

					<button
					@click="$root.$data.user.application.shirt = 'medium'" 
					@focus="$root.$data.user.application.shirt = 'medium'" 
					@keydown.enter="$root.$data.user.application.shirt = 'medium'; goToNextField();">
					Medium</button>

					<button
					@click="$root.$data.user.application.shirt = 'large'" 
					@focus="$root.$data.user.application.shirt = 'large'" 
					@keydown.enter="$root.$data.user.application.shirt = 'large'; goToNextField();">
					Large</button>

					<button
					@click="$root.$data.user.application.shirt = 'x-large'" 
					@focus="$root.$data.user.application.shirt = 'x-large'" 
					@keydown.enter="$root.$data.user.application.shirt = 'x-large'; goToNextField();">
					X-Large</button>

					<button
					@click="$root.$data.user.application.shirt = 'x-x-large'" 
					@focus="$root.$data.user.application.shirt = 'x-x-large'" 
					@keydown.enter="$root.$data.user.application.shirt = 'x-x-large'; goToNextField();">
					2X-Large</button>
				</div>

				<div class="button-container">
					<p class="login-link" @click="currentFieldIndex -= 1; ">Back</p>
					<transition name="fade">
						<button v-show="$root.$data.user.application.shirt !== ''" @click="goToNextField">Next</button>
					</transition>
				</div>
			</div>
		</transition>

		<!-- First? -->
		<transition name="floatIn">
			<div class="application-field" v-if="currentFieldIndex === 8">
				<h1>Is this your first hackathon?</h1>
				<div class="button-group">
					<button
					@click="$root.$data.user.application.first = true" 
					@focus="$root.$data.user.application.first = true" 
					@keydown.enter="$root.$data.user.application.first = true; goToNextField();">
					Yes</button>

					<button
					@click="$root.$data.user.application.first = false "
					@focus="$root.$data.user.application.first = false "
					@keydown.enter="$root.$data.user.application.first = false; goToNextField();">
					No</button>
				</div>

				<div class="button-container">
					<p class="login-link" @click="currentFieldIndex -= 1; ">Back</p>
					<transition name="fade">
						<button v-show="$root.$data.user.application.first !== null" @click="goToNextField">Next</button>
					</transition>
				</div>
			</div>
		</transition>

		<!-- Diet -->
		<transition name="floatIn">
			<div class="application-field" v-if="currentFieldIndex === 9">
				<h1>Any dietary restrictions?</h1>
				<div class="button-group">
					<button
					@click="$root.$data.user.application.dietary = 'vegetarian'" 
					@focus="$root.$data.user.application.dietary = 'vegetarian'" 
					@keydown.enter="$root.$data.user.application.dietary = 'vegetarian'; goToNextField();">
					Vegetarian</button>

					<button
					@click="$root.$data.user.application.dietary = 'vegan'" 
					@focus="$root.$data.user.application.dietary = 'vegan'" 
					@keydown.enter="$root.$data.user.application.dietary = 'vegan'; goToNextField();">
					Vegan</button>

					<button
					@click="$root.$data.user.application.dietary = 'kosher'" 
					@focus="$root.$data.user.application.dietary = 'kosher'" 
					@keydown.enter="$root.$data.user.application.dietary = 'kosher'; goToNextField();">
					Kosher</button>

					<button
					@click="$root.$data.user.application.dietary = 'gluten'" 
					@focus="$root.$data.user.application.dietary = 'gluten'" 
					@keydown.enter="$root.$data.user.application.dietary = 'gluten'; goToNextField();">
					Gluten Free</button>

					<button
					@click="$root.$data.user.application.dietary = 'other'" 
					@focus="$root.$data.user.application.dietary = 'other'" 
					@keydown.enter="$root.$data.user.application.dietary = 'other'; goToNextField();">
					Other</button>
				</div>

				<div class="button-container">
					<p class="login-link" @click="currentFieldIndex -= 1; ">Back</p>
					<transition name="fade">
						<button v-if="$root.$data.user.application.dietary !== ''" @click="goToNextField">Next</button>
						<button v-else @click="goToNextField">Nope!</button>
					</transition>
				</div>
			</div>
		</transition>

		<!-- Travel -->
		<transition name="floatIn">
			<div class="application-field" v-if="currentFieldIndex === 10">
				<h1>Will you require travel reimbursement?</h1>
				<div class="button-group">
					<button
					@click="$root.$data.user.application.travel = true" 
					@focus="$root.$data.user.application.travel = true" 
					@keydown.enter="$root.$data.user.application.travel = true; goToNextField();">
					Yes</button>

					<button
					@click="$root.$data.user.application.travel = false "
					@focus="$root.$data.user.application.travel = false "
					@keydown.enter="$root.$data.user.application.travel = false; goToNextField();">
					No</button>
				</div>

				<div class="button-container">
					<p class="login-link" @click="currentFieldIndex -= 1; ">Back</p>
					<transition name="fade">
						<button v-show="$root.$data.user.application.travel !== null" @click="goToNextField">Next</button>
					</transition>
				</div>
			</div>
		</transition>

		<!-- Link -->
		<transition name="floatIn">
			<div class="application-field" v-if="currentFieldIndex === 11">
				<h1>Any link(s) you'd like to share? (Optional)</h1>
				<input v-focus type="url" v-model="$root.$data.user.application.link" v-on:keydown="handleKeypress" id="link-selection"
				placeholder="GitHub/LinkedIn/Personal"/>

				<div class="button-container">
					<p class="login-link" @click="currentFieldIndex -= 1; ">Back</p>
					<transition name="fade">
						<p v-if="$root.$data.user.application.link === ''" class="login-link" @click="$root.$data.user.application.link = ''; goToNextField();">Skip</p>
						<button v-else @click="goToNextField">Next</button>
					</transition>
				</div>
			</div>
		</transition>

		<!-- Resume -->
		<transition name="floatIn">
			<div class="application-field" v-if="currentFieldIndex === 12">
				<h1>Can you share your resume with us? :) (Optional)</h1>
				<input type="file" v-on:change="$root.$data.user.application.resume" id="resume-selection"/>

				<div class="button-container">
					<p class="login-link" @click="currentFieldIndex -= 1; ">Back</p>
					<transition name="fade">
						<p v-if="$root.$data.user.application.resume === ''" class="login-link" @click="$root.$data.user.application.resume = ''; goToNextField();">Skip</p>
						<button v-else @click="goToNextField">Next</button>
					</transition>
				</div>
			</div>
		</transition>

		<!-- Agree -->
		<transition name="floatIn">
			<div class="application-field" v-if="currentFieldIndex === 13">
				<h1>I agree to...</h1>
				<input v-focus type="checkbox" v-model="$root.$data.user.application.demographic" id="demographic-selection"/>
				<h2>the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">MLH Code of Conduct.</a></h2>
				<br>
				<input v-focus type="checkbox" v-model="$root.$data.user.application.conduct" id="conduct-selection"/>
				<h2>share my <a href="https://mlh.io/privacy" target="_blank">demographic information </a>with MLH administration.</h2>
				
				<div class="button-container">
					<p class="login-link" @click="currentFieldIndex -= 1; ">Back</p>
					<transition name="fade">
						<button 
						v-show="($root.$data.user.application.demographic !== null && $root.$data.user.application.demographic) && ($root.$data.user.application.conduct !== null && $root.$data.user.application.conduct)" 
						@click="goToNextField">Next</button>
					</transition>
				</div>
			</div>
		</transition>

		<!-- Summary -->
		<transition name="floatIn">
			<div class="application-field" id="summary-page" v-if="currentFieldIndex === 14">
				<h1>Summary</h1>
				<p>Name: {{ $root.$data.user.application.name || '[name]' }}</p>
				<p>Gender (optional): <span class="login-link" @click="currentFieldIndex = 5">{{ $root.$data.user.application.gender || '[gender]' }}</span></p>
				<p>School: <span class="login-link" @click="currentFieldIndex = 1">{{ $root.$data.user.application.school || '[school]' }}</span></p>
				<p>Major: <span class="login-link" @click="currentFieldIndex = 3">{{ $root.$data.user.application.major || '[major]' }}</span></p>
				<p>Phone: <span class="login-link" @click="currentFieldIndex = 6">{{ $root.$data.user.application.phone || '[phone]' }}</span></p>
				<p>Shirt size: <span class="login-link" @click="currentFieldIndex = 7">{{ $root.$data.user.application.shirt || '[shirt]' }}</span></p>
				<p>Age: <span class="login-link" @click="currentFieldIndex = 4">{{ $root.$data.user.application.age || '[age]' }}</span></p>
				<p>Class: <span class="login-link" @click="currentFieldIndex = 2">{{ $root.$data.user.application.year || '[class]' }}</span></p>
				<p>First hackathon?: <span class="login-link" @click="currentFieldIndex = 8">{{ ($root.$data.user.application.first ? 'Yes' : 'No') || '[first]' }}</span></p>
				<p>Dietary restrictions: <span class="login-link" @click="currentFieldIndex = 9">{{ $root.$data.user.application.dietary || 'None' }}</span></p>
				<p>Travel reimbursement: <span class="login-link" @click="currentFieldIndex = 10">{{ ($root.$data.user.application.travel ? 'Yes' : 'No') || '[travel]' }}</span></p>
				<p>Link (optional): <span class="login-link" @click="currentFieldIndex = 11">{{ $root.$data.user.application.link || '[link]' }}</span></p>
				<p>Resume (optional): <span class="login-link" @click="currentFieldIndex = 12">{{ $root.$data.user.application.resume || '[resume]' }}</span></p>

				<div class="button-container">
					<p style="width: auto;" @click="currentFieldIndex -= 1; ">Back</p>
					<transition name="fade">
						<button @click="submitApplication">Finish!</button>
					</transition>
				</div>
			</div>
		</transition>

		<div id="progress-bar">

		</div>

	</div> <!-- Application Form -->
</main>