<!--ref sheet: http://thedrawingblanks.com/khe/khepixelsSheet.png -->
  <div class="content">
    <div class="menu">
        <img src="~assets/images/combined_logo_4x_color_17.png" title="Kent Hack Enough Logo" class="combined-logo">
        <h2>October 6 - 8th, 2017</h2>
       <!--  <input type="email" placeholder="Email Updates" class="input-field" id="newsletter-sign-up" spellcheck="false" v-on:click="inputFocus"/> -->
        <br>
        <a href="/SponsorshipPacket2017.pdf" target="_blank"><h3>Sponsor Information</h3></a> | <a href="mailto:staff@khe.io"><h3>Contact Us</h3></a>
        <br>
        <a href="https://www.facebook.com/kenthackenough/" target="_blank"><h3>Facebook</h3></a> | 
        <a href="https://twitter.com/KentHackEnough" target="_blank"><h3>Twitter</h3></a> | 
        <a href="https://www.instagram.com/kenthackenough/" target="_blank"><h3>Instagram</h3></a>
        <br>
        <a href="http://2016.khe.io" target="_blank"><h3>Last Year's Site</h3></a>
    </div>
    
    <img class="moon" src="http://thedrawingblanks.com/khe/moon.png">
    
    <img class="cloud1" src="http://thedrawingblanks.com/khe/cloud.png">
    <img class="cloud2" src="http://thedrawingblanks.com/khe/cloud.png">
  
    <img class="table" src="http://thedrawingblanks.com/khe/table.png">
    
    
    <div class="wire">
    </div>
    <div class="wireBG">
    </div>
  
  <div class="ground">
    <div class="groundTile"></div>
  </div>
    
    </div>
