@import "~styles/_variables.scss"; // Import variables to use colors

main {
	background-color: $sky;
	width: 100%;
	height: 100%;
}

#scaling-container {
	position: relative;

	/*** 480px by 270px == 16:9 ratio ***/
	width: 480px; // This should be the width (in pixels) of the background image
	height: 270px; // This is the height should equal the same height as the image being used for the background
	
	transform-origin: top left; // Scale from the top left of the image
}

.foreground-grass {
	position: absolute;
	bottom: 0;
	left: -30%;
}

.test {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.combined-logo {
	position: absolute;
	top: 0; left: 50%;

	max-width: 100vw;

	transform: scale(0.25) translateX(-50%);
	transform-origin: top left;

	@media only screen 
	and (min-width : 320px) {

		transform: scale(0.375) translateX(-50%);
	}
}