<main id="contact">
	<div class="text-info">
		<h1>Contact Us</h1>
		<p>If you have any questions, concerns, or problems, please do not hesitate to contact us. One of our organizers will get back to you as soon as humanly possible.</p>
		<br>
		<label for="subject">Subject</label>
		<input type="text" placeholder="Team Formation?" name="subject" v-model="ticket.subject" v-focus>

		<label for="name">Name</label>
		<input type="text" name="name" placeholder="John Doe" v-model="ticket.name">

		<label for="email">Email</label>
		<input type="email" name="email" placeholder="name@example.com" v-model="ticket.replyTo">

		<label for="body">Body</label>
		<textarea name="body" placeholder="What's up?" v-model="ticket.body"></textarea>
		<br><br>
		<button class="apply-link" id="contactButton" @click="sendMessage();check();">Send</button>
	</div>
</main>