.person {
    position: absolute;
    //outline: solid green 1px;
}

.reverse {
    scale: (-1, 1);
}

.title {
    position: absolute;
    height: 20px;
    width: 80px;
    left: 0;
    top: -15px;
    background-color: rgba(0,0,0,.5);
    color: white;
//    transform: scale(.5,.5);
}

canvas {
  //outline: solid red 1px;
  position: absolute;
  transform: scale(1,1);
  -ms-interpolation-mode: nearest-neighbor; 
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: -webkit-crisp-edges; 
  image-rendering: -moz-crisp-edges; 
  image-rendering: -o-crisp-edges; 
  image-rendering: pixelated; 
}