.person img {
    z-index: 1000;
	position: absolute;
    min-width: 40px;
    min-height: 40px;
}

.person {
    position: absolute;
    width: 40px;
}

.reverse {
    scale: (-1, 1);
}

.title {
    position: absolute;
    left: 0;
    top: -15px;

    height: 20px;
    width: auto;
    max-width: 120px;

    padding: 1px 5px;
    background-color: rgba(0,0,0,.5);
    color: white;
    text-align: center;
//    transform: scale(.5,.5);
}
