.person img {
    z-index: 1000;
	position: absolute;
    min-width: 40px;
    min-height: 40px;
}

.person {
    position: absolute;
}

.reverse {
    scale: (-1, 1);
}

.title {
    position: absolute;
    height: 20px;
    width: 80px;
    left: 0;
    top: -15px;
    background-color: rgba(0,0,0,.5);
    color: white;
//    transform: scale(.5,.5);
}

canvas {
  transform: scale(2,2);
  -ms-interpolation-mode: nearest-neighbor; 
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: -webkit-crisp-edges; 
  image-rendering: -moz-crisp-edges; 
  image-rendering: -o-crisp-edges; 
  image-rendering: pixelated; 
}