<div class="person" 
     v-bind:style="{ 
                   top: yTop + 'px', 
                   left: xLHS + 'px',
                   transform: facing,
                   width: '40px'
                   }"
     v-on:mouseover="showName = true"
     v-on:mouseout="showName = false"
     >
    <div class="title" v-if="showName"
         v-bind:style="{transform: facing}">{{ name }}</div>
    
    <canvas id="skin" width="22px" height="40px"
            v-bind:style="{ 
                   filter: 'brightness(' + skinTone/5 + ')'
                   }"
            >
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/795933/skin.png">
    </canvas>
	<img id="shirt" 
         v-bind:src="shirt"
         v-bind:style="{
                       filter: 'hue-rotate(' + shirtHue + 'deg)'}">
	<img id="pants" v-bind:src="pants">
	<img id="hair" v-bind:src="hair" 
         v-bind:style="{ 
                   filter: 'brightness(' + hairTone + ')' 
                   }">
	<img id="shoes" v-bind:src="shoes">
	<img id="eyes" v-bind:src="eyes"
         v-bind:style="{ 
                   filter: 'brightness(' + eyesTone/2 + ')' 
                   }">
</div>

