<div class="ent" 
     v-bind:style="{ 
                   top: (yTop + 2) + 'px', 
                   left: (xLHS) + 'px',
                   transform: facing,
                   width: '40px'
                   }"
     >
    
    <div style="transform: scale(1,1); z-index: 10;">
    <canvas id="ent" width="32px" height="40px">
    </canvas>
        </div>
    <div style="transform: scale(-1,1); z-index: 100;">
    <canvas id="slash" v-if="$parent.slash" class="reverse">
    </canvas>
        </div>
</div>
