<div id="live">
    <div id="updates" class="livebox"> 
        <h2 class="section-title" >Updates</h2>
        <div v-for="u in updates"
             id="wizard-say" >
            {{ u.text }}
        </div>
    </div>
    <div id="events" class="livebox">
        <h2 class="section-title" >Mini Games</h2>
        <div class="event" v-for="e in events">
            <h2 id="event-title">{{ e.title }}</h2>
            <a @click="toggleVisibility(e)">
                <img id="playNowBtn" 
                     src="~assets/images/PlayNow.png"                       
                     />          
            </a>
            <p style="color: red;" 
               id="event-info"
               v-if="!e.hide" > {{ e.description }}</p>
        </div>
    </div>
    <div id="social" class="livebox">
        <table>
            <tr>
                <td>
                    <a href="https://twitter.com/@kenthackenough" 
                       class="socialLink">
                        <img src="~assets/images/twitter.png"
                             width="64" 
                             height="64" />
                             <br />
                             Twitter
                    </a>                        
                </td>
                <td>
                    <a href="https://www.facebook.com/kenthackenough" 
                    class="socialLink">
                        <img src="~assets/images/facebook.png"
                             width="64"
                             height="64" />
                             <br />
                             Facebook 
                    </a>                        
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.instagram.com/kenthackenough/" 
                       class="socialLink">
                        <img src="~assets/images/insta.png"
                             width="64"
                             height="64" />
                             <br />
                             Instagram
                    </a>                        
                </td>
                <td>
                    <a href="" 
                       class="socialLink">
                        <img src="~assets/images/snap.png"      
                             width="64" 
                             height="64" />
                             <br />
                             Snapchat 
                    </a>                            
                </td>
                </tr>
        </table>
    </div>
    <div id="sponsorers" class="livebox">
        <h2 class="section-title" >High Scores</h2>
    </div>
</div>

        <!--
        <img src="~assets/images/PlayNowLocked.png" height="32" width="256"/>-->