/* Universal */
body {
    background: grey;
}

a {
    text-decoration: none;
}

.section-title {
    font-size: 40pt;
}

.event{
    border-bottom: 5px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-color: white; 
    border-style: solid; 
    margin: 10px;
}

#playNowBtn {
    display: inline;
    padding: 0px;
    border: 1px red solid;
}

.livebox {
    background-color: black;
    border-width: 5px;  
    border-style: solid;
    margin: 10px; 
}

#event-title {
    font-size: 25pt;
    padding: 10px;
    display: inline;
}

#event-info {
    font-size: 15pt;
    padding: 10px;
}

table {
    width: 100%;
    height: 100%;
}

td {
    width: 50%;
    height: 50%;
    align-content: center;
    text-align: center;
}

.socialLink {
    margin: auto;
}

/* Desktop specific layout */
@media only screen and (min-width: 768px) {
    :root {
        // Only modify these size variables, the page will resize accordingly.
        --margin-size: 15px;    
        --event-width: 50%;
        --social-height: 30%;
        
        // Calcuate the widths of the side bars.
        --update-width:     calc((100% - var(--event-width) - (4 * var(--margin-size))) / 2);
        --right-col-width:  calc((100% - var(--event-width) - (4 * var(--margin-size))) / 2);
    
        // Calculate the heights 
        --sponsorer-height: calc(100% - ((3 * var(--margin-size)) + var(--social-height))); 
        --full-height: calc(100% - (2 * var(--margin-size)));
    
        // Calculate the starting positions of each column
        --event-left: calc(2 * var(--margin-size) + var(--update-width));
        --right-col-left: calc(3 * var(--margin-size) + var(--update-width) + var(--event-width));
        --sponsorer-top: calc(2 * var(--margin-size) + var(--social-height));       
    }

    #social {
        position: absolute;
        left: var(--right-col-left);
        top: var(--margin-size);
        width: var(--right-col-width);
        height: var(--social-height);
    }
    
    #sponsorers {
        position: absolute;
        left: var(--right-col-left);
        top: var(--sponsorer-top);
        width: var(--right-col-width);
        height: var(--sponsorer-height);
    }

    #events {
        position: absolute;
        left: var(--event-left);
        top: var(--margin-size);
        width: var(--event-width);
        height: var(--full-height);
    }

    #updates {
        position: absolute;
        left: var(--margin-size);
        top: var(--margin-size);
        width: var(--update-width);
        height: var(--full-height);
    }
}