<div id="live">
    <div id="updates" class="livebox"> 

    </div>
    <div id="events" class="livebox">
        <img src="~assets/images/PlayNow.png" height="32" width="256"/>
        <br />
        <img src="~assets/images/PlayNowLocked.png" height="32" width="256"/>
    </div>
    <div id="social" class="livebox">
        <a href="https://twitter.com/@kenthackenough"       ><img src="~assets/images/twitter.png"   width="64" height="64" />Twitter  </a><br />
        <a href="https://www.facebook.com/kenthackenough"   ><img src="~assets/images/insta.png"     width="64" height="64" />Instagram</a><br />
        <a href="https://www.instagram.com/kenthackenough/" ><img src="~assets/images/facebook.png"  width="64" height="64" />Facebook </a><br />
        <a href=""                                          ><img src="~assets/images/snap.png"      width="64" height="64" />Snapchat </a><br />
    </div>
    <div id="sponsorers" class="livebox">
        
    </div>
</div>